.topnav {
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    border: 5px solid red;
    background: rgb(223, 214, 214);
}

.counter {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: pink;
  height:35px;
  width:250px;
  position: absolute;
  top: 65px;
  left: 65%;
}

.title {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size:40px;
    display: flex;
    justify-content: center;
    background:rgb(223, 214, 214)
}

.socials {
    display: flex;
    align-items: flex-start;
    margin-left:0%;
}

.videos {
    border: 6px solid black;

}

fieldset {
    border:5px solid rgb(7, 0, 0);
    display:inline;
    background: rgb(224, 220, 220);
    

  }
  legend {
    padding: 0.2em 0.5em;
    color: rgb(5, 0, 0);
    font-size: 15px;
    position: relative;
    margin-left: 15%;
    margin-right: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  legend:before {
    position: absolute;
    content: '';
    height: 8px;
 
    left: 0px;
    top: 7px;
  }
  legend:after {
    position: absolute;
    content: '';
    height: 8px;
  
    right: 0px;
    top: 7px;
  }  

.submit {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
